<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<button><a href="/jsonreglist/" target="_blank">Registration list (JSON) </a></button><br>
<button><a href="/jsonloginlist/" target="_blank">Login list (JSON) </a></button><br><br>
<button><a href="/jsonresumelist/" target="_blank">Login list (JSON) </a></button><br><br>
<button><a href="/enterregister/" target="_blank">Registration (POST)</a></button><br><br>
<button><a href="/createlogin/" target="_blank">Create login (POST)</a></button><br><br>
<button><a href="/enterresume/" target="_blank">Resume (POST)</a></button><br><br>
<button><a href="/credlogin/" target="_blank">Login Check (POST)</a></button><br><br>
<button><a href="/registerform/" target="_blank">Registration form</a></button><br><br>
<button><a href="/loginform/" target="_blank">Login form</a></button><br><br>
<button><a href="/resumeform/" target="_blank">Resume form</a></button><br><br>
<button><a href="/registertable/" target="_blank">Registration table</a></button><br><br>
<button><a href="/resumetable/" target="_blank">Resume table</a></button><br><br>
<button><a href="/logintable/" target="_blank">Login table</a></button><br><br>
<button><a href="/upload/" target="_blank">Upload Files</a></button><br><br>
</body>
</html>